.container {
  background-color: #ffffff;
  font-family: times;
  text-align: justify;
  font-size: 14pt;
  font-weight: normal;
}
.page_header {
  text-align: center;
  color: black;
  font-size: 34pt;
  font-weight: bold;
}
.header {
  color: black;
  font-size: 20pt;
  font-weight: bold;
}
.articles-list {
  text-align: justify;
  font-size: 14pt;
  font-weight: normal;
}
.link {
  color: red
}

